page-return-visit-exc {
    .cardBg1 {
        background: linear-gradient(90deg, #43E97B, #38F9D7) !important;
    }
    .cardBg2 {
        background: linear-gradient(90deg, #4FACFE, #00F2FE) !important;
    }
    .cardBg3 {
        background: linear-gradient(-210deg, #FF7400, #FFA92D) !important;
    }
    .cardBg4 {
        background: linear-gradient(180deg, #AF00FF, #FF64FF) !important;
    }
}