<!-- 导航条区域 Begin -->
<ion-header>
    <ion-navbar color="orange" hideBackButton="true">
        <ion-title>用户信息</ion-title>
        <ion-buttons start>
            <button ion-button class="pl10" (click)="backHome()">
                <!-- <span color="primary" showWhen="ios">返回</span> -->
                <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button class="pr10" (click)="navCtrl.canGoBack()?navCtrl.pop():''">
                <span showWhen="android,windows,ios">返回</span>
                <!-- <ion-icon class="ftz30" name="ios-home" showWhen="android,windows,ios"></ion-icon> -->
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar mode="ios" no-padding class="borTBox">
        <div class="w100p p5 headerBg">
            <div class="h100p w100p disFlex">
                <div class="h100p w100">
                    <div class="w100p h100p disFlex justConC aligIteC">
                        <!-- <img class="h100p borRadius50p" src="assets/imgs/logoback.png"> -->
                        <div class="w50 h50 borSDBDFE6 bgcFFF">
                            <div class="h100p borRadius50p disFlex justConC aligIteC" [hidden]="(formInfo?.userSex == 1)">
                                <svg class="colourIcon ftz50" aria-hidden="true">
                                    <use xlink:href="#icon-Head2"></use>
                                </svg>
                            </div>
                            <div class="h100p borRadius50p disFlex justConC aligIteC" [hidden]="!(formInfo?.userSex == 1)">
                                <svg class="colourIcon ftz50" aria-hidden="true">
                                    <use xlink:href="#icon-Head1"></use>
                                </svg>
                            </div>
                        </div>
                        <!-- <img class="h100p borRadius50p" src="https://via.placeholder.com/150"> -->
                    </div>
                </div>
                <div class="h100p disFlex flexDirC justConSA pt10 pb10">
                    <!-- <div>
                        <span class="ftz20 colorFFF">{{formInfo?.caption}}</span>
                        <span class="ml20 colorFFF">{{formInfo?.userSex | sexState}}</span>
                    </div> -->
                    <div>
                        <span class="colorFFF ftz20">姓名：{{formInfo?.userName}}</span>
                    </div>
                </div>
            </div>
            <div class="h40 w100p mt10">
                <div class="h100p w100p disFlex justConSB">
                    <div class="h100p w24p disFlex flexDirC justConSB aligIteC">
                        <span class="ftz12">姓别</span>
                        <span class="ftz17">{{formInfo?.userSex | sexState}}</span>
                    </div>
                    <div class="h100p w24p disFlex flexDirC justConSB aligIteC">
                        <span class="ftz12">年龄</span>
                        <span class="ftz17">{{formInfo?.userAge}}岁</span>
                    </div>
                    <div class="h100p w24p disFlex flexDirC justConSB aligIteC">
                        <span class="ftz12">评估等级</span>
                        <span class="ftz17">{{formInfo?.assessmentLevel}}</span>
                    </div>
                    <div class="h100p w24p disFlex flexDirC justConSB aligIteC">
                        <span class="ftz12">居委</span>
                        <span class="ftz17">{{formInfo?.residence?.areaName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<!-- 导航条区域 End -->

<!-- 页面内容区域 Begin -->
<ion-content>
    <div>
        <div>
            <div class="mt20 pb20">
                <div class="">
                    <div class="borBBox">
                        <div class="disFlex justConSB h26 aligIteC pl10 pr10">
                            <span class="ftz16 color999">满意度情况</span>
                        </div>
                    </div>
                    <div class="mt5">
                        <div class="disFlex justConSB pl30 pr10">
                            <span class="ftz16 flexShrink0">服务态度：</span>
                            <span class="ftz16">{{formInfo?.serviceAttitude}}</span>
                        </div>
                        <div class="disFlex justConSB pl30 pr10">
                            <span class="ftz16 flexShrink0">服务质量：</span>
                            <span class="ftz16">{{formInfo?.qualityService}}</span>
                        </div>
                    </div>
                </div>
                <div class="mt10">
                    <div class="borBBox">
                        <div class="disFlex justConSB h26 aligIteC pl10 pr10">
                            <span class="ftz16 color999">服务情况</span>
                        </div>
                    </div>
                    <div class="mt5">
                        <div class="disFlex justConSB h26 aligIteC pl30 pr10">
                            <span class="ftz16">服务时长</span>
                            <span class="ftz16">{{formInfo?.serverTime | number:'1.2-2'}}&nbsp;分钟</span>
                        </div>
                        <div class="disFlex justConSB h26 aligIteC pl30 pr10">
                            <span class="ftz16">服务金额</span>
                            <span class="ftz16">{{formInfo?.serverCost | number:'1.2-2'}}&nbsp;元</span>
                        </div>
                    </div>
                </div>
                <div class="mt10">
                    <div class="borBBox">
                        <div class="disFlex justConSB h26 aligIteC pl10 pr10">
                            <span class="ftz16 color999">联系电话</span>
                            <span class="ftz16">{{formInfo?.telphone}}</span>
                        </div>
                    </div>
                    <!-- <div class="mt5">
                        <div class="disFlex justConSB h26 aligIteC pl30 pr10">
                            <span class="ftz16">服务时长</span>
                            <span class="ftz16">&nbsp;分钟</span>
                        </div>
                    </div> -->
                </div>
                <div class="mt10">
                    <div class="borBBox">
                        <div class="disFlex justConSB h26 aligIteC pl10 pr10">
                            <span class="ftz16 color999">紧急联系人</span>
                        </div>
                    </div>
                    <div class="mt5">
                        <div class="disFlex justConSB aligIteC pl30 pr10" *ngFor="let x of formInfo?.homeLinkmanInfoList;let i = index;">
                            <span class="ftz16">{{x.caption}}</span>
                            <span class="ftz16">{{x.telephone}}</span>
                        </div>
                    </div>
                </div>
                <div class="mt10">
                    <div class="borBBox">
                        <div class="disFlex justConSB h26 aligIteC pl10 pr10">
                            <span class="ftz16 color999">居住地址</span>
                        </div>
                    </div>
                    <div class="mt5">
                        <div class="disFlex justConSB aligIteC pl30 pr10" *ngFor="let x of formInfo?.homeArchiveAddressList;let i = index;">
                            <span class="ftz16">{{i + 1}}、{{x.address}}</span>
                        </div>
                    </div>
                </div>
                <div class="mt10">
                    <div class="borBBox">
                        <div class="disFlex justConSB h26 aligIteC pl10 pr10">
                            <span class="ftz16 color999">服务员</span>
                            <span class="ftz16">{{formInfo?.server?.caption}}</span>
                        </div>
                    </div>
                    <!-- <div class="mt5">
                        <div class="disFlex justConSB h26 aligIteC pl30 pr10">
                            <span class="ftz16">服务时长</span>
                            <span class="ftz16">&nbsp;分钟</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- 图片预览组件 Begin -->
    <!-- <photo-prev #photoPrev></photo-prev> -->
    <!-- 图片预览组件 End -->
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
        <div class="w100p" text-center>
            <button ion-button round class="w90p" color="danger" (click)="exit('login')">退出登录</button>
        </div>
    </ion-toolbar>
</ion-footer> -->
<!-- 页面内容区域 End -->